<% if logged_in? %>
<script type="text/javascript">
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>;
</script>
<% end %>

<main id="root"></main>

<script type="text/javascript">
  window.logoURL = "<%= image_url('logo.png') %>";
</script>

<script type="text/javascript">
  window.splashURL = "<%= image_url('splash.jpg') %>";
</script>

<script type="text/javascript">
  window.whitelogoURL = "<%= image_url('whitelogo.png') %>";
</script>

<script type="text/javascript">
  window.emailURL = "<%= image_url('email.png') %>";
</script>

<script type="text/javascript">
  window.signupURL = "<%= image_url('signup.jpg') %>";
</script>

<script type="text/javascript">
  window.loginURL = "<%= image_url('login.jpg') %>";
</script>

<script type="text/javascript">
  window.gitURL = "<%= image_url('github.png') %>";
</script>

<script type="text/javascript">
  window.linkedURL = "<%= image_url('linkedin.png') %>";
</script>

<script type="text/javascript" >
  window.greendotURL = "<%= image_url('greendot.png') %>";
</script>

<script type="text/javascript" >
  window.circleURL = "<%= image_url('circle.png') %>";
</script>

